@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color-rgb:0, 166, 136;
  --foreground-rgb: 0, 0, 0;
  --background-rgb:var(--primary-color-rgb);

}

@font-face {
  font-family: "Copperplate Gothic Bold";
  src: url(./Fonts/copperplategothic_bold.ttf);
}

h1,
h2,
h3,
h4,
h5,
h6,
.NavLink {
  font-family: "Copperplate Gothic Bold";
}


body{
  background-color: rgb(var(--background-rgb));
}

.NavLink:hover{
  color: rgb(var(--primary-color-rgb));
}
